/* Universal Selector */
#externalstyle{
	color: yellow;
}


*{
	font-family: "Verdana", sans-serif; 
	font-size: 20px;	 
}

body{
	background-color: white;
}

html{
	scroll-behavior: smooth ;
}
nav{
	background-color: white;
}


h2{
	text-transform: uppercase;
}
 
H3 + OL{
	color: black;
	background-color: white;

}

.externaltools{
	background-color: white;
	border: 2px solid;
	border-color: skyblue;
}

li{
	background-color: #A5CEB5;
	border: 0;
}


p{
	text-align: left;
}

section img{
	height: 200px;
	border-radius: 60%;
}

html > body > section > ul > .other {
	text-align: left;
	letter-spacing: 10px;
	background-color: white;
	list-style-type: none;
}
	

ul + p{
	text-align: center;
	font-size: 25px;
}

	

